.search-bar {
    padding: 15px;
}

.search-bar input {
    width: 100%;
    text-transform: capitalize;
    border: none;
    background-color: #eee;
    line-height: 3;
    padding-left: 15px;
    border-left: solid 4px white;
    margin-left: -4px;
    transition: all ease .1s;
}

.search-bar input::placeholder {
    color: grey;
    transition: all ease .2s;
    transition: text-indent 1.3s .2s ease-in-out; 
}

.search-bar input:focus {
    border-left: solid 4px lightseagreen;
    text-indent: 0ex;
    margin-left: 0px;
    outline: none;
     transition: letter-spacing 1.3s .2s ease-in-out; 
}

[placeholder]:focus::placeholder {
    color: lightseagreen;
    text-indent: -100%;
}

.search-title {
    font-size: 1.2rem;
    padding: 15px 0 0 0;
    display: inline-block;
}

.search-title-detail {
    color: rgb(90, 90, 90);
    text-transform: capitalize;
}


.video-item img {
    max-width: 64px;
}

.video-detail .detail {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}

.list-group .list-group-item {
    cursor: pointer;
    padding: .75rem .75rem;
}

.list-group-item:hover {
    background-color: aquamarine;
}

.media-left img {
    width: 140px;
    height: auto;
}

.video_url {
    font-size: .85rem;
}